---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"form"> {
  /** WARNING: If you set to false, then your Netlify form will not function. */
  "data-netlify"?: boolean;
  name: string;
}

const { name, ...rest } = Astro.props;

if (rest.action && rest.action[0] !== "/") {
  throw new Error(
    "The `action` path must be relative to the site root and start with a `/`. See https://docs.netlify.com/forms/setup/#success-messages"
  );
}

const honeypotName = `hp-${Date.now()}`;
---

<form data-netlify="true" name={name} netlify-honeypot={honeypotName} {...rest}>
  <label>
    Don't fill this out if you're human:
    <input tabindex="-1" name={honeypotName} />
  </label>
  <slot />
</form>

<style>
  /* Would it be better to apply these styles inline? */
  label {
    display: none;
  }
</style>
