---
import Form from "../../../Form.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Examples</title>
  </head>
  <body>
    <h1>Examples</h1>
    <main>
      <Form name="basic">
        <label><b>Name</b><input type="text" /></label>
        <button>Submit</button>
      </Form>
    </main>
  </body>
</html>
